div.modifiers div.modifierContainer div.modifierBackground
{
	z-index:0;
	background-image:url('${ASSETS_PREFIX}net/lugdunon/world/tupelo/tui/UI.png');
}

div.modifiers div.modifierContainer div.modifierForeground
{
	z-index:2;
	background-image:url('${ASSETS_PREFIX}net/lugdunon/world/tupelo/tui/UI.png');
}




div.minimapWrapper
{
	position:relative;
	width   :256px;
	height  :256px;
	overflow:hidden;
	float   :left;
	
	background-color:#000;
	
    -webkit-border-radius:0em  0em  0.6em  0.6em;
	-moz-border-radius   :0em  0em  0.6em  0.6em;
    border-radius        :0em  0em  0.6em  0.6em;
 
 	cursor    :pointer;
}

div.minimap
{
	position:absolute;
	-webkit-transform-origin: 0 0;
	-moz-transform-origin   : 0 0;
	transform-origin        : 0 0;
}

div.minimapLunarPhase
{
	position:absolute;
	width:32px;
	height:32px;
	
	background-image :url(${ASSETS_PREFIX}net/lugdunon/world/tupelo/tui/LunarPhases.png);
	background-repeat:no-repeat;
	background-position: 0 0;
}

div.minimapDateText
{
	position:absolute;
	width :188px;
	height: 32px;
	left  : 32px;
	
	font-size:14px;
	font-weight:bold;
	color:#000000;
	text-align:center;
	line-height:34px;
	
	overflow:hidden;
	white-space: nowrap;
	text-overflow:ellipsis;
	
	pointer-events:none;
}

div.minimapControlsToggle
{
	cursor  :pointer;
	position:absolute;
	
	width : 32px;
	height: 32px;
	left  :224px;
	
	background :url(${ASSETS_PREFIX}net/lugdunon/world/tupelo/tui/Buttons.png) -288px 0 no-repeat;
}

div.minimapControlsToggle:HOVER
{
	background :url(${ASSETS_PREFIX}net/lugdunon/world/tupelo/tui/Buttons.png) -288px -32px no-repeat;
}

div.minimapControlsToggled
{
	background :url(${ASSETS_PREFIX}net/lugdunon/world/tupelo/tui/Buttons.png) -288px -64px no-repeat;
}

div.minimap div.screenIndicator
{
	position:absolute;
	
    -webkit-box-shadow:inset 0 0 20px rgba(255,255,255,0.9);
    -moz-box-shadow   :inset 0 0 20px rgba(255,255,255,0.9);
    box-shadow        :inset 0 0 20px rgba(255,255,255,0.9);

    border            :1px solid #FFF;
    z-index           :100;
	
    -webkit-transition: opacity 500ms ease-in-out;
   	-moz-transition: opacity 500ms ease-in-out;
	-ms-transition: opacity 500ms ease-in-out;
	transition: opacity 500ms ease-in-out;
}

div.minimap div.screenIndicatorHidden
{
	opacity:0.0;
}

div.minimapOverlay
{
	position:absolute;
	
	width   :256px;
	height  :256px;
	left    : -6px;
	top     : 32px;

    -webkit-box-shadow:inset 0 0 20px rgba(0,0,0,0.9);
    -moz-box-shadow   :inset 0 0 20px rgba(0,0,0,0.9);
    box-shadow        :inset 0 0 20px rgba(0,0,0,0.9);
	
    -webkit-border-radius:0em  0em  1em  1em;
	-moz-border-radius   :0em  0em  1em  1em;
    border-radius        :0em  0em  1em  1em;
    
	border    :6px solid #222;
    border-top:3px solid #222;
    
    overflow  :hidden;
	
	pointer-events:none;
}

div.minimapOverlay div.minimapControls
{
	position:absolute;

	width :256px;
	height: 40px;
	
	top   :-40px;
	left  :  0px;

    background-color  :rgba(32,32,32,0.5);
    z-index           :101;
    
    -webkit-transition: all 500ms ease-in-out;
   	-moz-transition: all 500ms ease-in-out;
	-ms-transition: all 500ms ease-in-out;
	transition: all 500ms ease-in-out;
	
	pointer-events:all;
}

div.minimapControlsShown div.minimapControls
{
	top:0px;
}

canvas.minimap
{
	position:absolute;
	z-index:0;
}

div.minimapControls div.zoomSlider
{
	cursor     :pointer;
	padding     :  0px;
	margin-left :  4px;
	margin-right:  4px;
	float       :left;
	width       :212px;
	height      : 32px;
	margin-top  : 4px;
	
	background :transparent;
}

div.minimapControls div.indicatorButton
{
	cursor      :pointer;
	z-index     : 1;
	padding     : 0px;
	margin      : 0px;
	margin-top  : 4px;
	margin-right: 4px;
	float       :left;
	width       :32px;
	height      :32px;
	
	background :url(${ASSETS_PREFIX}net/lugdunon/world/tupelo/tui/Buttons.png) -256px 0 no-repeat;
}

div.minimapControls div.indicatorButton:HOVER
{
	background :url(${ASSETS_PREFIX}net/lugdunon/world/tupelo/tui/Buttons.png) -256px -32px no-repeat;
}

div.minimapControls div.indicatorButtonToggled
{
	background :url(${ASSETS_PREFIX}net/lugdunon/world/tupelo/tui/Buttons.png) -256px -64px no-repeat;
}

/*********************/

canvas.indexedPalette
{
    margin-top   :16px;
    margin-bottom:16px;
    
	cursor:pointer;
	
    -webkit-border-radius:0.4em 0.4em 0.4em 0.4em;
	-moz-border-radius   :0.4em 0.4em 0.4em 0.4em;
    border-radius        :0.4em 0.4em 0.4em 0.4em;
	
	border:3px solid #222;
	
    -webkit-box-shadow:0 2px 5px rgba(0,0,0,0.7);
    -moz-box-shadow   :0 2px 5px rgba(0,0,0,0.7);
    box-shadow        :0 2px 5px rgba(0,0,0,0.7);
    
    background-image:url("${ASSETS_PREFIX}net/lugdunon/world/tupelo/tui/PaletteBG.png");
    background-size:8px 8px;
}












/****/

div.tooltipSignWrapper
{
	background:url('${ASSETS_PREFIX}net/lugdunon/world/tupelo/tui/UI.png') -512px -737px no-repeat;
	position  :absolute;
	width     :512px;
	height    :288px;
	
	-webkit-transform: scale(0.5) translate(-256px,-147px);
}

div.tooltipSignWrapper div
{
	position   :relative;
	display    :block;
	left       : 16px;
	top        :  7px;
	width      :480px;
	height     :270px;
}

div.signWrapper
{
	background:url('${ASSETS_PREFIX}net/lugdunon/world/tupelo/tui/UI.png') -512px -737px no-repeat;
	position  :absolute;
	width     :512px;
	height    :288px;
}

div.signWrapper div
{
	position   :relative;
	display    :block;
	left       : 16px;
	top        :  7px;
	width      :480px;
	height     :270px;
}


div.signEditorWrapper
{
	position:absolute;
	width   :896px;
	height  :480px;
}

div.signEditorWrapper div.signWrapper
{
	left:192px;
	top : 64px;
}

div.signEditorWrapper canvas
{
	cursor:crosshair;
}

div.signEditorWrapper canvas:LAST-CHILD
{
	position:absolute;
	z-index:1;
	top:0px;
	left:0px;
}

div.signEditorWrapper div.okButton
{
	z-index :5;
	margin  :0px;
	position:absolute;
	left    :194px;
	top     :424px;	
}
div.signEditorWrapper div.cancelButton
{
	z-index :5;
	margin  :0px;
	position:absolute;
	left    :228px;
	top     :424px;	
}

div.signVerticalGauge
{
	background:url('${ASSETS_PREFIX}net/lugdunon/world/tupelo/tui/UI.png') -448px -608px no-repeat;
	position  :absolute;
	width     : 64px;
	height    :416px;
}

div.signVerticalGauge div.icon
{
	position  :absolute;
	left      :  0px;
	top       :  0px;
}

div.signVerticalGauge div.bg div.slider
{
	background:url('${ASSETS_PREFIX}net/lugdunon/world/tupelo/tui/UI.png') -384px -640px no-repeat;
	position  :absolute;
	width     : 64px;
	height    : 32px;
	left      :  0px;
}

div.signVerticalGauge div.bg
{
	cursor    :pointer;
	background:url('${ASSETS_PREFIX}net/lugdunon/world/tupelo/tui/UI.png') -384px -672px no-repeat;
	position  :absolute;
	width     : 64px;
	height    :352px;
	left      :  0px;
	top       : 64px;
}


div.signButton
{
	cursor    :pointer;
	background:url('${ASSETS_PREFIX}net/lugdunon/world/tupelo/tui/UI.png') -512px -672px no-repeat;
	position  :absolute;
	width     :64px;
	height    :64px;
}

div.signButton div
{
	width     :64px;
	height    :64px;
}

div.signButton[toggled=true]
{
	background:url('${ASSETS_PREFIX}net/lugdunon/world/tupelo/tui/UI.png') -576px -672px no-repeat;
	position  :absolute;
	width     :64px;
	height    :64px;
}


div.signTextIcon
{
	background:url('${ASSETS_PREFIX}net/lugdunon/world/tupelo/tui/UI.png') -320px -256px no-repeat;
}
div.signTextMediumIcon
{
	background:url('${ASSETS_PREFIX}net/lugdunon/world/tupelo/tui/UI.png') -384px -256px no-repeat;
}
div.signTextSmallIcon
{
	background:url('${ASSETS_PREFIX}net/lugdunon/world/tupelo/tui/UI.png') -448px -256px no-repeat;
}
div.signDrawIcon
{
	background:url('${ASSETS_PREFIX}net/lugdunon/world/tupelo/tui/UI.png') -320px -128px no-repeat;
}
div.signEraseIcon
{
	background:url('${ASSETS_PREFIX}net/lugdunon/world/tupelo/tui/UI.png') -384px -128px no-repeat;
}
div.signSquareBrushIcon
{
	background:url('${ASSETS_PREFIX}net/lugdunon/world/tupelo/tui/UI.png') -384px -192px no-repeat;
}
div.signCircleBrushIcon
{
	background:url('${ASSETS_PREFIX}net/lugdunon/world/tupelo/tui/UI.png') -448px -192px no-repeat;
}
div.signColorBlackIcon
{
	background:url('${ASSETS_PREFIX}net/lugdunon/world/tupelo/tui/UI.png') -512px -192px no-repeat;
}
div.signColorWhiteIcon
{
	background:url('${ASSETS_PREFIX}net/lugdunon/world/tupelo/tui/UI.png') -512px -256px no-repeat;
}
div.signColorAllIcon
{
	background:url('${ASSETS_PREFIX}net/lugdunon/world/tupelo/tui/UI.png') -512px -320px no-repeat;
}
div.signTextLeftIcon
{
	background:url('${ASSETS_PREFIX}net/lugdunon/world/tupelo/tui/UI.png') -320px -320px no-repeat;
}
div.signTextCenterIcon
{
	background:url('${ASSETS_PREFIX}net/lugdunon/world/tupelo/tui/UI.png') -384px -320px no-repeat;
}
div.signTextRightIcon
{
	background:url('${ASSETS_PREFIX}net/lugdunon/world/tupelo/tui/UI.png') -448px -320px no-repeat;
}

div.colorSelector
{
	position:absolute;
	width   :384px;
	height  :384px;
}

div.colorSelector div.csHue, div.colorSelector div.csBrightness, div.colorSelector div.csSaturation, div.colorSelector div.csResult,
div.colorSelector div.csHueIndicator, div.colorSelector div.csSaturationIndicator, div.colorSelector div.csBrightnessIndicator  
{
	left             :0px;
	top              :0px;
	position         :absolute;
	width            :384px;
	height           :384px;
	background-image :url('${ASSETS_PREFIX}net/lugdunon/world/tupelo/tui/ColorWheelSheet.png');
	background-repeat:no-repeat;
}

div.colorSelector div.csBrightnessColor, div.colorSelector div.csSaturationColor, div.colorSelector div.csResultColor 
{
	left             :0px;
	top              :0px;
	position         :absolute;
	width            :384px;
	height           :384px;
	
	z-index          :1;
}

div.colorSelector div.csHue
{
	z-index            :0;
	background-position:0 0;
}

div.colorSelector div.csSaturation
{
	z-index            :2;
	background-position:-768px -384px;
}

div.colorSelector div.csBrightness
{
	z-index            :2;
	background-position:0 -384px;
}

div.colorSelector div.csResult
{
	z-index            :2;
	background-position:-384px 0;
}

div.colorSelector div.csHueIndicator
{
	z-index            :3;
	background-position:-384px -768px;
}

div.colorSelector div.csSaturationIndicator
{
	z-index            :3;
	background-position:-768px -768px;
	
	transform:        rotate(180deg);
    -ms-transform:    rotate(180deg);
    -webkit-transform:rotate(180deg);
    -o-transform:     rotate(180deg);
    -moz-transform:   rotate(180deg);
}

div.colorSelector div.csBrightnessIndicator
{
	z-index            :3;
	background-position:-768px -768px;
}

div.colorSelector div.okButton
{
	z-index :5;
	margin  :0px;
	position:absolute;
	left    : 16px;
	top     :336px;	
}
div.colorSelector div.cancelButton
{
	z-index :5;
	margin  :0px;
	position:absolute;
	left    :336px;
	top     :336px;	
}